<div class="row">

  <div class="col-12" id="<%= dom_id pnr %>">
    <div class="row">
      <div class="col-6 fw-bolder fs-5">PNR</div>
      <div class="col-6"><%= pnr.pnr %></div>
    </div>
  </div>
</div>

